@model IEnumerable<FinalProjectDemo.Models.Product.HddFinal>

@{
    ViewData["Title"] = "Index_Search";
}



<form asp-controller="HddFinal" asp-action="Index_Search">

    <input id="my_search_field" placeholder="Enter your keywords!" type="text" name="searchkey">
    &nbsp; &nbsp; &nbsp; <input type="submit" value="Search" />
    <p style="color:orangered;">@ViewBag.showMsg</p>
</form>

@ViewBag.notfound
<div class="container">
    @foreach (var item in Model)
    {
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">

                    <img src="@item.PicLink" alt="Avatar" style="width:200px;height:200px;">

                </div>
                <div class="flip-card-back">
                    <h5>@item.Name</h5>
                    <p>Startech Price: ৳ @item.StarPrice</p>
                    <p>Ryans Price: ৳ @item.RyansPrice</p>

                    <button class="btn-default"><a asp-action="Details" asp-route-id="@item.HddId">Details</a> </button>
                </div>
            </div>
        </div>
    }
</div>
